* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;

  background: #8C11BE;


  font-family: 'Lexend Deca', sans-serif;
}

.root {
  width: 100%;
  height: 100%;
}

button.success>abbr {
  background-color: #8CC654;

  padding: 10px 11px;

  color: #000000;

  border-radius: 50px;
}

button.failure>abbr {
  background-color: #E65666;

  padding: 10px 11px;

  color: #000000;

  border-radius: 50px;
}
